@page "/admin"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@model Bookman.Pages.Admin.IndexModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <title>
        Bookman Admin
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(Routed)" render-mode="Server"/>
    <script src="/_framework/blazor.server.js"></script>
</body>

</html>


