
@{
    ViewData["Title"] = "Books";
}

@model BooksViewModel

<div class="row m-1 p-1">

    <div class="col-9">
        <div style="display: grid; grid-template-columns: repeat(3, minmax(0, 1fr)); gap: 2rem;">
            @foreach (var x in Model.Books)
            {
                <partial name="BookSummary" model="x" />

            }
        </div>

        <div style="margin-top: 10px; margin-bottom: 10px;" page-dynamic="@Model.PageInfo" page-action="Books" page-class-normal="btn btn-outline-dark" page-class-selected="btn btn-primary"></div>
    </div>
    <div class="col-3">
        <vc:types></vc:types>
    </div>

</div>





